.root {
    /*宋体*/
    /*-fx-font-family: "NSimSun";*/
    /*-fx-font-family: "Courier New";*/
    /*-fx-font-family:"SimSun";*/
    -fx-font-size: 11;
    -fx-background-color: #f5f5f5;
    -fx-accent: #ddd; /*默认选中背景色*/
}

/*全局抗锯齿*/
.text{
    -fx-font-smoothing-type: gray;
}

/* 全局设置Tooltip的字体 */
.tooltip {
    -fx-font-family: "Courier New";
    -fx-font-size: 10px; /* 字体大小 */
    -fx-font-weight: normal; /* 字体粗细（normal/bold） */
}
.menu-bar {
    -fx-background-color: linear-gradient(to bottom, #eee, #eee);
    -fx-padding: 0;
}

/*涉及所有menu,包含下拉*/
.menu{
}
.text-field:hover{
    -fx-background-color: #f5f5f5;
}
/*覆盖蓝色亮光边框*/
.text-field,.text-field:focused{
    -fx-background-color: white;
    -fx-border-color: #888;
    -fx-border-width: 0.5;
    -fx-border-radius: 2;
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.2), 1, 0, 1, 1);
}
/* 禁用状态的TextField */
.text-field:disabled {
    -fx-text-fill: #ccc; /* 禁用时的文本色（深灰色） */
}


.text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: black; /*选中文字颜色*/
}

/* 自定义复选框的未选中状态 */
.check-box > .box {
    -fx-background-color: white;
    -fx-border-color: #888;
    -fx-border-radius: 2;
    -fx-border-width: 0.5;
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.2), 1, 0, 1, 1);
}


.check-box:focused > .box {
    -fx-background-color: #f5f5f5;
}
/* 自定义复选框的选中状态 */
.check-box:selected >.box {
    -fx-background-color: white;
    -fx-border-color: #888;
    -fx-border-width: 0.5;
    -fx-border-radius: 2;
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.2), 1, 0, 1, 1);
}




/* 悬停时的样式 */
.check-box:hover > .box {
    -fx-background-color: #f5f5f5; /* 鼠标悬停时的背景色 */
}
/* 自定义复选框中的标记 */
.check-box:selected > .box > .mark {
    -fx-background-color: #074675; /* 选中时勾的颜色 */
}
/*背景色设置为白色，避免treecell focus时底色没有颜色显示成了treeview底色*/
.tree-view,.tree-view:focused,.tree-view:selected{
    -fx-border-color: none;
    -fx-background-color: white;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-background-insets: 0; /* 避免focus后会导致背景显示部分颜色*/
}



 
/* 为表格单元格中的CheckBox添加更具体的样式 */
.table-check-box,.table-check-box .box {
    -fx-pref-width: 12px !important;
    -fx-pref-height: 12px !important;
    -fx-max-width: 12px !important;
    -fx-max-height: 12px !important;
    -fx-min-width: 12px !important;
    -fx-min-height: 12px !important;
    -fx-padding: 0 !important;
}


.tree-cell{
    /* treecell的背景色会覆盖tree-view的背景色
    -fx-background-color: #fafafa;

     */
}
/*左侧展开符号设置为箭头*/
.tree-cell .arrow {
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
    //-fx-shape: "M0,0v9h9V0H0z M2,8H1V7h1V8z M2,6H1V5h1V6z M2,4H1V3h1V4z M4,8H3V7h1V8z M4,6H3V5h1V6z M4,4H3V3h1V4z M6,8H5V7h1V8z M6,6H5 V5h1V6z M6,4H5V3h1V4z M8,8H7V7h1V8z M8,6H7V5h1V6z M8,4H7V3h1V4z";

}



/*展开符号鼠标移上改变底色*/
.tree-cell .tree-disclosure-node:hover {
    -fx-background-color: #CCC;
}

/*
.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-rotate: 0;
    　　-fx-scale-shape: false;
    -fx-shape: "M 0 -1 L 7 -1 L 7 1 L 0 1 z";
}
 */


/*treeview元素鼠标移上效果*/
.tree-cell:filled:hover {
    -fx-background-color: #ebf5fb;
}

/*treeview元素被选中效果，放在hover后面避免被选中后还响应hover*/
.tree-cell:filled:selected{
    /*-fx-background-color: linear-gradient(to bottom, white, #d3e7f6);*/
    /*-fx-background-color: #d3e7f6;*/
    -fx-background-color: #dcf0fb;
    -fx-border-color: none;
    -fx-background-insets: 0;
}


/*设置这个css避免树展开后显示foucs灰色框框,元素移动后默认focus最后一个元素，避免有背景显示混淆当前选中元素*/
.tree-cell:focused{
    -fx-background-color: none;
    -fx-border-color: none;
}

.button,.choice-box{
    -fx-background-color: #eee;
    -fx-border-color: #888;
    -fx-border-radius: 2;
    -fx-border-width: 0.5;
}
.choice-box:focused,.choice-box:hover{
    //-fx-border-color: #999;
   -fx-background-color: #f5f5f5;
}
.button:hover,.button:focused{
    -fx-background-color: #2871a8;
    -fx-text-fill: white;
    -fx-border-color: #2871a8;
}

/*提交回滚按钮*/
.commit-btn {
    -fx-background-color: #2871a8;
    -fx-text-fill: white;
    -fx-font-weight: normal;
    -fx-padding: 0;
    -fx-pref-width: 50;
    -fx-border-width: 0;
}

.commit-btn:hover {
    -fx-background-color: #2871a8;
}

.choice-box,.context-menu .menu-item{
    -fx-pref-width: 240;
    -fx-graphic-text-gap: 10; /*图标与文字之间的距离,似乎无效，但设置后可避免数据管理右键后图标与文字紧连在一起*/
}
.choice-box {
    -fx-background-color: white; /* 背景色 */
    -fx-border-radius: 2;
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.2), 1, 0, 1, 1);

}

/*SQL编辑面板连接名称和库名css*/
.custom-connectname-choicebox,.custom-connectname-choicebox:hover{
    -fx-pref-width: 200;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-background-color: none;
}

.custom-dbname-choicebox,.custom-dbname-choicebox:hover{
    -fx-pref-width: 100;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-background-color: none;
}

.custom-sqlmode-choicebox,.custom-sqlmode-choicebox:hover{
    -fx-pref-width: 125;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-background-color: none;
}


.custom-commitmode-choicebox,.custom-commitmode-choicebox:hover{
    -fx-pref-width: 80;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-background-color: none;
}

.custom-connectname-choicebox .context-menu .menu-item{
    -fx-pref-width: 240;
    -fx-graphic-text-gap: 10; /*图标与文字之间的距离,似乎无效，但设置后可避免数据管理右键后图标与文字紧连在一起*/
    -fx-font-size: 10;
}
.custom-dbname-choicebox .context-menu .menu-item{
    -fx-pref-width: 120;
    -fx-graphic-text-gap: 10; /*图标与文字之间的距离,似乎无效，但设置后可避免数据管理右键后图标与文字紧连在一起*/
    -fx-font-size: 10;
}

.custom-sqlmode-choicebox .context-menu .menu-item{
    -fx-pref-width: 120;
    -fx-graphic-text-gap: 10; /*图标与文字之间的距离,似乎无效，但设置后可避免数据管理右键后图标与文字紧连在一起*/
    -fx-font-size: 10;
}

.custom-commitmode-choicebox .context-menu .menu-item{
    -fx-pref-width: 70;
    -fx-graphic-text-gap: 10; /*图标与文字之间的距离,似乎无效，但设置后可避免数据管理右键后图标与文字紧连在一起*/
    -fx-font-size: 10;
}
/*新建数据库弹出页面css*,指定下拉框弹出宽度*/
#createDatabaseCharset,#createDatabaseDbspace{
    -fx-pref-width: 240;
}
#createDatabaseCharset .context-menu .menu-item,#createDatabaseDbspace .context-menu .menu-item{
    -fx-pref-width: 240;
}


/*这是treeview右键弹出宽宽度，避免被.context-menu覆盖而设置*/
.exclude-css{
    -fx-pref-width: 240
}
/*菜单栏弹出宽度,弹出单里面每行的css*/
#fileMenu,#modifyMenu,#settingMenu,#helpMenu {
    -fx-pref-width: 210;
}

/*
#systemLevel .context-menu .menu-item,#dbType .context-menu .menu-item {
    -fx-pref-width: 150;
}
*/

/*每个下拉或弹出框有效，设置右键弹出框去除阴影，避免弹出框周边点击不到*/
.context-menu {
    -fx-border-color: #ccc;
    -fx-border-width: 0.5;
    -fx-effect: dropshadow( gaussian , red , 0, 0.0 , 0 , 0 );
}


.tooltip {
//-fx-background: rgba(30,30,30);
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-background-radius: 3px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
//-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
//-fx-effect: none;
    -fx-font-size: 0.85em;
}


/*表头样式*,.table-view .filler为右侧空白区域列头*/
.column-header ,.table-view .filler{
    -fx-background-color: #f2f2f2;
    -fx-pref-height: 21;
    -fx-border-color:#888;
    -fx-border-width: 0.2 0.2 0.2 0;
}


/* 排序箭头样式 */
.column-header .arrow {
    -fx-background-color: #074675;  /* Remove default arrow background */
    -fx-shape: "M10.7812 2.3906 L13.2188 2.3906 L13.2188 16.7812 L18 12 L20.3906 13.2188 L12 21.6094 L3.6094 13.2188 L6 12 L10.7812 16.7812 L10.7812 2.3906 Z";
    -fx-pref-height: 10;
    -fx-background-size: 10px 10px; /* Fixed arrow size */
}


/*表头文字颜色*/
.table-view .column-header .label{
    -fx-text-fill: #074675;
}

/*避免点击后边框显示蓝色，避免点击后标题下出现轻微颜色变动*/
.table-view,.table-view:focused,.table-view:selected{
    -fx-padding: 0;
    -fx-background-color: none;
}

/* 表格行高 */
.table-row-cell{
    -fx-pref-height:21;
}

/*默认第一行foucsed*/
.table-row-cell:filled:focused{
    -fx-background-color: white;
    -fx-border-insets: 0;
    -fx-border-width: 0;
}
.table-row-cell:filled:hover {
    -fx-background-color: #f3f3f3;
    -fx-background-insets: 0;
}

.table-row-cell:filled:selected{
    -fx-background-color: #e9e9e9;
    -fx-background-insets: 0;
}


.table-cell{
    -fx-background-color: none;
    -fx-background-insets: 0;
    -fx-alignment:CENTER_LEFT ;
    -fx-padding: 0;
    -fx-border-color: #000;
    -fx-border-width: 0 0.2 0.2 0;
}

.table-cell:hover {
    -fx-background-color: #2871a8; /* 选中单元格的背景色 */
    -fx-text-fill: white;
    -fx-border-color: #000;
    -fx-border-width: 0 0.2 0.2 0;
}
.table-cell:selected {
    -fx-background-color: #2871a8; /* 选中单元格的背景色 */
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0 0.5 0.5 0;
}



.table-choice-box .context-menu .menu-item{
    -fx-pref-width: 150;
    -fx-graphic-text-gap: 10; /*图标与文字之间的距离,似乎无效，但设置后可避免数据管理右键后图标与文字紧连在一起*/
}


/* 确保表格单元格hover或选中时，ChoiceBox中的文字也变成白色 */
.table-cell:hover .table-choice-box .label,
.table-cell:selected .table-choice-box .label {
    -fx-text-fill: white !important;
    -fx-background-color: #2871a8;
}

/* 确保表格单元格hover或选中时，下拉框中的文字是黑色 */
.table-choice-box .context-menu .menu-item .label{
    -fx-text-fill: black !important;
    -fx-font-size: 8;
    -fx-background-color: none;
}

/* 确保ChoiceBox的箭头颜色也随单元格状态变化 */
.table-cell:hover .table-choice-box .arrow,
.table-cell:selected .table-choice-box .arrow {
    -fx-background-color: white !important;
}

/*markdown中嵌入表格样式*/

.MarkdownTableView .column-header .label{
    -fx-text-fill: #074675;
    -fx-font-weight: normal;
}

.MarkdownTableView .table-cell {
    -fx-background-color: none;
    -fx-background-insets: 0;
    -fx-alignment:CENTER_LEFT ;
    -fx-border-color: #eee;
    -fx-border-width: 0.5px;
    -fx-font-size: 11;
    -fx-pref-height: 18;
}
.MarkdownTableView .table-cell:selected {
    -fx-background-color: #ddd; /* 选中单元格的背景色 */
    -fx-border-color: white;
    -fx-text-fill: black;
}

.MarkdownTableView .column-header ,.table-view .filler{
    -fx-background-color: #f2f2f2;
    -fx-pref-height: 18;
    -fx-border-color:white;
    -fx-border-width: 1 1 0 0;
    -fx-font-size: 11;
}


/*增加驱动加号css*/
.custom-button-with-radius:hover{
    -fx-background-color: #ddd;
    -fx-border-color: none;
}
.custom-button-with-radius{
    -fx-border-color: none;
}

.custom-button:hover{
    -fx-background-color: #ddd;
    -fx-border-color: none;
    -fx-background-radius: 0;
}

/* 按下时的样式 */
.custom-button:pressed ,.little-custom-button:pressed,.codearea-camera-button:pressed{
    -fx-effect: innershadow(two-pass-box, rgba(0, 0, 0, 0.3), 5, 0, 0, 1);  /* 按下时的内阴影效果 */
}
.custom-button{
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-border-width: 0;
}
.little-custom-button{
    -fx-font-size: 9; /*控制按钮高度*/
    -fx-background-radius: 2;
    /*
    -fx-background-insets: 3;
    -fx-padding:  5; */
    -fx-border-width: 0;
    -fx-border-color: none;
    -fx-background-color: none;
}
.little-custom-button:hover{
    -fx-background-radius: 2;
    /*
    -fx-background-insets: 3;
    -fx-padding: 5;*/
    -fx-border-width: 0;
    -fx-border-color: none;
    -fx-background-color: #ddd;
}


.codearea-camera-button{
    -fx-opacity: 0.1;
    -fx-background-radius: 2;
    /*
    -fx-background-insets: 3;
    -fx-padding: 5;*/
    -fx-border-width: 0;
    -fx-border-color: none;
    -fx-background-color: none;
}
.codearea-camera-button:hover{
    -fx-opacity: 1;
    -fx-background-radius: 2;
    /*
    -fx-background-insets: 3;
    -fx-padding: 5;*/
    -fx-border-width: 0;
    -fx-border-color: none;
    -fx-background-color: none;
}


.sqlmode-button{
    -fx-opacity: 0.3;
    -fx-background-radius: 2;
    /*
    -fx-background-insets: 3;
    -fx-padding: 5;*/
    -fx-border-width: 0;
    -fx-border-color: none;
    -fx-background-color: none;
}
.sqlmode-button:hover{
    -fx-opacity: 1;
    -fx-background-radius: 2;
    /*
    -fx-background-insets: 3;
    -fx-padding: 5;
    -fx-font-size: 10;
     */
    -fx-border-width: 0;
    -fx-border-color: none;
    -fx-background-color: none;
}
/*自定义textfield显示文字*/
.label-text,.label-text:hover,.label-text:focused{
    -fx-background-color: none;
    -fx-border-width: 0;
    -fx-padding: 0;
}


    /*编辑属性界面编辑输入框*/
#modifyProps .text-field{
    -fx-pref-height: 25;
    -fx-border-color: none;
    -fx-border-width: 0;
    -fx-background-color: white;
    -fx-padding: 0;
}


#modifyProps .table-view {
    -fx-pref-width: 400;
}
/*
#modifyPropMenu .context-menu .menu-item{
    -fx-pref-width: 100;
}

 */
/*
.text-area,.text-area .content,.text-area:focused,.text-area:focused .content{
    -fx-background-color: white;
    -fx-border-color: red;
    -fx-border-width: 0;
}

 */

.keyword,.paren{
    -fx-font-weight:bold;
    -fx-fill:#9f453c;
}
.function{
    -fx-font-weight:bold;
    -fx-fill:#074675;
}
.doublestring,.fanyinhao{
    -fx-fill:#074675;
}
.number{
    -fx-fill:#3f80b0
}

.error{
    -fx-font-weight:bold;
    -fx-fill:#cf2311
}


/*codearea行号css*/
.lineno{
    -fx-alignment: center-right; /* 垂直居中 */
    -fx-background-color: white;
    -fx-padding: 0;
    /*
    -fx-font-family: system;

     */
}



/*当前行号*/
.paragraph-box:has-caret .lineno {
   /* -fx-font-weight: bold;*/
    -fx-background-color: #ebf5fb;
    /*-fx-text-fill: white;*/
}

/*自定义行号边距，GenericStyledArea行号默认后面没有padding，与其他编辑框不一样,单独设置*/
.CustomGenericStyledArea .lineno{
    -fx-padding: 0 10 0 0;
}

.CustomGenericStyledArea{
    -fx-padding: 0 10 0 10;
}

/*背景色有效，padding无用*/
.CustomGenericStyledArea .paragraph-box {
    /*
    -fx-padding: 8 0 12 0;
    -fx-background-color: red;

     */
}
/* 文字大小，有效
.styled-text-area .text {
    -fx-font-size: 14px;
}
*/

/*codearea选中文字背景色,有效*/
.styled-text-area .selection {
    /*-fx-fill: #ddd;*/
    -fx-fill: #ddd;
}


/*sql编辑框字体大小，有自己的默认字体，与系统字体不一样*/
.code-area{
    -fx-font-size: 12;
}
/*sql编辑框右键弹出字体，设置为系统默认值，与其他字体保持一致*/
.code-area .context-menu .menu-item {
    -fx-font-family: "System Regular";
    -fx-font-size: 11px;
}

/*底下这个也有效
.code-area .main-selection {
    -fx-fill: yellow;
}
*/

/*

.styled-text-area .virtual-flow {
    -fx-cursor: text;
    -fx-highlight-fill: red;
    -fx-blink-caret-rate: 100ms;
    -fx-highlight-text-fill:white;
}
*/
    /*当前选定行背景色*/
.paragraph-box:has-caret {
    -fx-background-color: #ebf5fb;
}

.brace, .bracket {
    -fx-fill: darkgray;
}

.semicolon {
    -fx-fill: red;
}
.string {
    -fx-fill: #2b7b40;
}
.comment {
    -fx-fill: #aaa;
//    -fx-font-style: italic;
}
.currentline{
   // -fx-background-color: #eaf6fc;
    //-rtfx-background-color: yellow;
    //-fx-padding: 0 10000px 0 0;
}


/*主界面左右分隔条CSS*/
.split-pane .split-pane-divider {
    -fx-background-color: #eee; /* 更改隔离符颜色 */
    -fx-pref-width: 3;
    -fx-border-width: 0 0.5 0 0.5;
    -fx-border-color: #aaa;

    /*
    -fx-pref-width: 5;
    -fx-border-width: 0 1 0 1;
    -fx-border-insets: 0 1 0 1;
    -fx-border-color: white;

     */
}
/*sql界面sql输入框及结果集表格面板css*/
#sql_splitpane  {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-insets: 0;
}
/*sql执行界面上下分隔条CSS*/
#sql_splitpane .split-pane-divider {
    -fx-background-color: #eee; /* 更改隔离符颜色 */
    -fx-pref-width: 3;
    -fx-border-width: 0.5 0 0.5 0;
    -fx-border-color: #aaa;
    /*
    -fx-border-width: 1 0 1 0;
    -fx-border-insets: 1 0 1 0;
    -fx-border-color: white;

     */
}

#arraw_spacer1,#arraw_spacer2{
    -fx-border-width: 1;
    -fx-border-insets: 1;
    -fx-border-color: white;
}


.scroll-bar {
    -fx-background-color: transparent; /* 去掉默认背景 */
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #ccc; /* 设置滑块颜色 */
    -fx-background-radius: 0;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #bbb; /* 设置滑块鼠标移上颜色 */
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: #eee; /* 设置轨道颜色 */
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: #eee; /* 导轨两头颜色 */
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
    -fx-background-insets: 0;
}

/* 角落 */
.scroll-pane .corner {
}

.scroll-bar:horizontal .increment-button:hover,
.scroll-bar:horizontal .decrement-button:hover,
.scroll-bar:vertical .increment-button:hover,
.scroll-bar:vertical .decrement-button:hover {
    -fx-background-color: #ddd; /* 导轨两头颜色 */
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow,
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color:#888; /* 箭头颜色 */
}

#data_manager_resultset_buttons_hbox{
    -fx-padding: 0;
    /*-fx-font-size: 1;*/
}



.text-area,.text-area:focused {
    -fx-background-color: #f2f2f2;
    /*背景色*/
    -fx-border-width: 0.3;
    -fx-border-color: #888;
    -fx-effect: none;
    -fx-padding: 0;
    -fx-font-family:"SimSun";
    -fx-font-size: 11;
    -fx-text-fill: #888;
}
/*内部内容css*/
.text-area .content{
    -fx-background-color: #f2f2f2;
}

.text-area .content .text{

}

/*下载进度条*/
.progress-bar {
    -fx-pref-width: 100;
    -fx-accent: red;
    -fx-pref-height: 9;
    -fx-control-inner-background:none;
    -fx-background-color: #ccc;
    -fx-background-insets: 0;
    -fx-background-radius: 3;
}

.progress-bar .bar{
    -fx-background-color: #3b83b8;
    -fx-background-insets: 0;
    -fx-border-radius: 3;
}

/*软件加载进度条*/
.loadProgressBar {
    -fx-pref-width: 180;
    -fx-accent: red;
    -fx-pref-height: 5;
    -fx-control-inner-background:none;
    -fx-background-color: #ccc;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.loadProgressBar .bar{
    -fx-background-color: #074675;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;

}


/*sql执行环形*/
.progress-indicator {
    //-fx-progress-color: lightgray; /* 轨道背景颜色 */
    -fx-accent: #074675;             /* 进度弧颜色 */
    -fx-max-width: 20;
    -fx-max-height: 20;
}
/*表格无内容时不显示 表中无数据*/
.table-view .placeholder {
    -fx-opacity: 0;  /*设置表格空白时的显示  设置透明*/
    -fx-background-color: transparent; /* 背景透明 */
    -fx-padding: 0; /* 去掉额外的间距 */
}
.table-view .placeholder .label {
    -fx-text-fill: #ccc;
}

/* SpreadsheetView样式 - 与TableView保持一致 */
.spreadsheet-view {
    -fx-padding: 0;
    -fx-background-color: white;
}

/*选框边框*/
.spreadsheet-view .selection-rectangle {
    -fx-stroke: transparent;
}



/* SpreadsheetView单元格样式 */
.spreadsheet-cell {
    -fx-font-size: 10;
    -fx-background-color: none;
    -fx-background-insets: 0;
    -fx-alignment: CENTER_LEFT;
    -fx-border-color: #666;
    -fx-border-width: 0 0.2 0.2 0;
    -fx-padding:0;
}

/* SpreadsheetView鼠标悬停效果 */
.spreadsheet-cell:hover {
    -fx-background-color: #2871a8;
    -fx-text-fill: white;
}

/* SpreadsheetView选中单元格样式 */
.spreadsheet-cell:selected {
    -fx-background-color: #2871a8;
    -fx-text-fill: white;
    -fx-border-width: 0.5px;
    -fx-border-color: white;
}




.bracket-highlight {
    -fx-fill: #9f453c;
    -fx-font-weight: bold;
    -rtfx-background-color: #fbde88;
}




/*覆盖蓝色亮光边框*/
.tab:selected .tab-label,.tab:focused .tab-label{
    -fx-text-fill: black;
    -fx-background-color: none;
    -fx-background-insets: 0;
}

/* 设置未选中的标签 */
.tab-pane .tab {
    -fx-background-color: #eee;
    -fx-border-width: 0 0 0 0;

    /*-fx-border-color: #e3e3e3;
    -fx-border-radius: 1;

     */
}

/* 设置选中的标签 */
.tab-pane .tab:selected {
    -fx-background-color: white;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #074675;
}


/* Tab选中的时候选中其边框并修改样式，避免出现选中默认蓝色边框 */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 0px;
    -fx-border-width: 0;
    -fx-border-color: none;
}


/* 修改下拉按钮箭头图标颜色 */
.tab-pane .tab-header-area .control-buttons-tab .arrow {
    -fx-background-color: #074675; /* 改箭头颜色 */
}

/* 关闭按钮鼠标放上变红 */
.tab-close-button:hover {
    -fx-background-color: #cf2311;
}
.tab-close-button {
    -fx-opacity: 1;    /* 完全可见 */
    -fx-padding: 0 0 0 5px; /* 调整关闭按钮位置 */
}

/*页头背景区域*/
.tab-pane .tab-header-background	 {
    -fx-background-color: #eee;
}
/* 修改下拉按钮以下部分 */
.tab-pane .tab-header-area .control-buttons-tab  {
    -fx-background-color: none; /* 改箭头颜色 */
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/*隐藏标题，只显示自定义图形,保证设置了text并且异常下拉框可以正常显示标题*/
#treeview_tabpane .tab-label,#sql_tabpane .tab-label {
    -fx-content-display: graphic-only; /* 只显示graphic */
    -fx-background-color: none;
}

/*标题栏里顶部和左边的距离*/
#treeview_tabpane .tab-header-area {
    -fx-padding: 0 0 0 0;   /* 上 右 下 左 */
}

/*标题栏高度*/
#treeview_tabpane .tab {
    -fx-pref-height: 35px;
    -fx-min-height: 35px;
    -fx-max-height: 35px;
    -fx-background-radius:0px;
    -fx-border-radius: 0px;
    -fx-padding: 20;
    -fx-background-color:none;
}

/* 设置选中的标签 */
#treeview_tabpane .tab:selected {
    -fx-pref-height: 35px;
    -fx-min-height: 35px;
    -fx-max-height: 35px;
    -fx-background-radius:0px;
    -fx-border-radius: 0px;
    -fx-padding: 20;
    -fx-background-color:none;
}


/* 基础样式 */
.toggle-button {
    -fx-pref-height: 35px;
    -fx-min-height: 35px;
    -fx-max-height: 35px;
    -fx-pref-width: 35px;
    -fx-min-width: 35px;
    -fx-max-width: 35px;
    -fx-background-color:none;
    -fx-background-radius:0px;
    -fx-border-insets:3px;
    -fx-border-radius: 3px;
    -fx-border-width:1;
    -fx-border-color:#ccc;
    -fx-padding:5;
}
.toggle-button:selected {
    -fx-pref-height: 35px;
    -fx-min-height: 35px;
    -fx-max-height: 35px;
    -fx-background-color:white;
    -fx-background-insets:3px;
    -fx-background-radius:3px;
    -fx-border-insets:3px;
    -fx-border-radius: 3px;
    -fx-border-width:1;
    -fx-border-color:#074675;
    -fx-padding:5;
}

.toggle-button:hover {
    -fx-pref-height: 35px;
    -fx-min-height: 35px;
    -fx-max-height: 35px;
    -fx-background-color:white;
    -fx-background-insets:3px;
    -fx-background-radius:3px;
    -fx-border-insets:3px;
    -fx-border-radius: 3px;
    -fx-border-width:1;
    -fx-border-color:#074675;
    -fx-padding:5;
}


#resultset_tabpane .tab-label {
    -fx-content-display: text-only; /* 只显示文字 */
}

/*标题栏边距*/
#instanceManagerTabPane .tab-header-area {
    -fx-padding: 0;
    -fx-font-size: 9;
}
/*文字边距*/
#instanceManagerTabPane .tab-header-area .tab {
    -fx-padding: 0 10 0 10;
    -fx-font-size: 9;
}



/* 箭头按钮颜色 */
.tab-down-button {
    -fx-background-color: #eee;
}

/* 箭头按钮颜色 */
.tab-down-button:hover {
    -fx-background-color: white;
}

/*窗口关闭按钮*/
.windowCloseButton,.windowCloseButton:focused{
    -fx-border-width: 0;
    -fx-background-color: none;
    -fx-background-radius: 0;
    -fx-text-fill: black;
}
.windowCloseButton:hover{
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: #e81123;
    -fx-text-fill: white;
}

/*查找关闭按钮*/
.searchCloseButton,.searchCloseButton:focused{
    -fx-border-width: 0;
    -fx-background-color: none;
    -fx-background-radius: 0;
    -fx-text-fill: black;

}
.searchCloseButton:hover{
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: none;
    -fx-text-fill: #cf2311;
}

.windowSizeButton,.windowSizeButton:focused{
    -fx-border-width: 0;
    -fx-background-color: none;
    -fx-background-radius: 0;
    -fx-text-fill: black;
}
.windowSizeButton:hover{
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: #ddd;
    -fx-text-fill: black;
}

.execute_result_error{
    -fx-text-fill: red;
}
.execute_result_ignore{
    -fx-text-fill: #888;
}
.execute_result_success{
    -fx-text-fill: #000;
}






/*listview css*/
.list-view {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #ccc;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}
.list-cell {
    -fx-cell-size: 90px;   /* 设置固定高度，比如 32px */
}
.list-cell:odd {
    -fx-background-color: #f6f6f6;
    -fx-background-insets: 0;
}

.list-cell:even {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
}
/* 鼠标悬停 */
.list-cell:hover {
    -fx-background-color: #ebf5fb;
    -fx-background-insets: 0;

}
/* 选中状态 */
.list-cell:selected,.list-cell:focused {
    -fx-background-color: #dcf0fb;
    -fx-background-insets: 0;
}

/*markdown 行间距*/
/*markdown文件列表树拖动上去效果*/
.tree-cell-drag-over {
    -fx-background-color: #cbe9fa;
}

/*状态栏下载文字*/
.download {
    -fx-font-size: 7;
    -fx-text-fill: #888;
}

/*单选框圆框颜色*/
.radio-button:selected,.radio-button:focused {
    -fx-focus-color: #888;
    -fx-faint-focus-color: transparent;  /* 去掉发光的模糊外圈 */
}


/* chart-style.css */
/* 图表整体样式 */
.chart {
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-border-width: 1px;
    -fx-padding: 0;
}
/* 网格线 */
.chart-grid-line {
    -fx-stroke: #d3d3d3;
    -fx-stroke-width: 0.5;
}
/* 坐标轴刻度 */
.chart-axis .axis-tick-mark {
    -fx-stroke: #999;
}
/* 坐标轴标签 */
.chart-axis .axis-label {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}
/* 图例文字 */
.chart-legend-item {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: #888;
    -fx-padding: 0;
}
/* 图例图标 */
.chart-legend-item-symbol {
    -fx-background-color: none;
    -fx-background-radius: 3px;
    -fx-width: 10px;
    -fx-height: 10px;
    -fx-border-width: 0;
}
/* 图例容器 */
.chart-legend {
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-border-radius: 0;
    -fx-padding: 0;
}